/* Styles for the entire rating container */
.rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: #ddd;
  font-size: 24px;
  height: 25px;
  width: 130px;
  margin-top: 10px;
  position: relative;
  padding: 0;
  cursor: pointer;
}

/* Styles for the stars (inactive state) */
.rating > span {
  display: inline-block;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  height: 25px;
  width: 26px;
  overflow: hidden;
}

/* Styles for the stars (active state) */
.rating > span:before {
  content: "★";
  position: relative;
  display: block;
  color: #777;
  transition: color 0.2s ease-in-out;
}

/* Styles for setting hover and click effects */
.rating:not(:checked) > span:hover:before,
.rating:not(:checked) > span:hover ~ span:before {
  color: #ffc107;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  color: #ffc107;
}

/* Styles for setting the current rating */
.rating > input:checked ~ span:before {
  color: #ffc107;
}

/* Hide radio inputs */
.rating > input {
  display: none;
}
